In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model

In [4]:
df = pd.read_excel('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls')
df.head(10)

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3
4,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0
5,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0
6,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0
7,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
8,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN
9,Alfred Village,4089,5,0,NaN,0,3,2,46,10,36,0,NaN

In [6]:
df = pd.DataFrame(df.values[4:], columns=df.iloc[3])

In [9]:
df.tail()

3,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
346,Yonkers,199134,1036,6,NaN,25,390,615,2368,470,1662,236,10
347,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN
348,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# drop last 3 rows
df.drop(df.tail(3).index,inplace=True)

In [13]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object', name=3)

In [57]:
# keep only necessary columns
df_final = df[['Population', 'Property\ncrime']]
df_final['murder'] = df['Murder and\nnonnegligent\nmanslaughter'].apply(lambda x : 1 if x>0 else 0)
df_final['robbery'] = df['Robbery'].apply(lambda x : 1 if x>0 else 0)

C:\Users\julia\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\julia\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [58]:
df_final

3   Population Property\ncrime  murder  robbery
0         1861              12       0        0
1         2577              24       0        0
2         2846              16       0        0
3        97956            4090       1        1
4         6388             223       0        1
5         4089              46       0        1
6         1781              10       0        0
7       118296            2118       1        1
8         9519             210       0        1
9        18182             405       0        1
10        2053              39       0        0
11        4523              33       0        1
12         658               2       0        0
13        2522               5       0        0
14       27270             859       1        1
15        3333              25       0        1
16        7473              88       0        1
17        5418              94       0        1
18       15374             559       0        1
19        5733             191       0        1
20       17627             156       0        1
21       34243             442       0        1
22       46304            2349       1        1
23        1410              14       0        0
24       12001              99       0        0
25        1022               4       0        0
26        2325              24       0        0
27        2054              20       0        0
28        2065              31       0        1
29        2358              13       0        0
..         ...             ...     ...      ...
318       3642              83       0        0
319        615               0       0        0
320      12195             437       0        1
321      61686            2528       1        1
322      27980             571       0        1
323       6887             142       1        1
324      27940             767       0        1
325       3012              68       0        0
326       3453              78       0        0
327       5828              58       0        1
328       8392              59       0        0
329       5175             194       0        1
330      28179            1165       0        1
331      10245             242       1        1
332       1862              92       0        0
333       4337              54       0        1
334      43777             469       0        1
335       1797              25       0        0
336       4574             164       0        0
337       1732              44       0        0
338      44821             896       1        1
339       2604              62       0        0
340      57559            1232       1        1
341       3733              36       0        0
342       9141              77       0        0
343      10685             541       0        1
344        829              17       0        0
345       5931              58       0        0
346     199134            2368       1        1
347      36643             334       0        1

[348 rows x 4 columns]